@model IEnumerable<K22CNT1Lesson10.Models.Diem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "NqmCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoSV)
        </td>
        <td>
            @Html.ActionLink("Edit", "NqmEdit", new {  id=item.MaMH.Trim() }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
